numpy
scipy
pandas
scikit-learn
tensorflow>=1.4
keras>=2.1.5
matplotlib
seaborn
scrapy
scrapy-beautifulsoup
beautifulsoup4
html5lib
requests
joblib
imbalanced-learn
flask
gevent
pytest
pytest-cov
coverage
textblob